html 

    head
        meta(charset="UTF-8")
        meta( name="viewport" content="width=device-width, initial-scale=1.0")
        meta( http-equiv="X-UA-Compatible" content="ie=edge")
        title index首页jade模板引擎
        link( rel="stylesheet" href="./css/index.css")

    body
        h1 jade模板引擎

        img( src="./img/4.jpg" alt="")
        #test 
            p 这是一个p段落啊
